<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/views/static/styles.css">
    <script src="/views/static/script.js"></script>

    <title>SkillJam</title>
  </head>    
  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">SkillJam</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">somelink</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="row">
        <div class="col-xs-6" id="left-column">
          <h1>ProfilePic</h1>
          <p>ProfileName</p>
          <p>Age</p>
          <p>Message</p>
        </div>
        <div class="col-xs-6" id="right-column">
          <h2>Rating</h2>
          <p>Vid 1</p>
          <p>Vid 2</p>
          <p>Vid 3</p>
        </div>
      </div>
    </div>
  </body>
</html>
